<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="jumbotron">
    <h1 class="text-center">
      Welcome to {{ title }}!
    </h1>
    <hr />
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quibusdam non hic deserunt! Aliquam quasi inventore
      quod
      aliquid nostrum deleniti id, voluptatibus natus et facere consequatur, deserunt dolorem nihil, minima blanditiis.
      Et, architecto distinctio quos eveniet repellendus soluta. Nisi repudiandae quod vitae totam eaque debitis cum,
      asperiores ad quaerat distinctio, sint assumenda quia perferendis sunt? Alias nihil sint ex quod velit?
      Debitis amet fuga, odit laudantium eveniet at reiciendis a quidem explicabo in officia exercitationem praesentium
      ab ad perspiciatis quas molestiae facilis ut autem inventore id consectetur? Quae similique vero aliquam.
      Dolorem quaerat dignissimos ex rerum earum, cupiditate architecto veritatis magni incidunt repellendus minima
      molestiae provident qui sit voluptatibus non impedit? Aliquam, in soluta. Vel facilis odio qui molestiae quae
      ipsum?
    </p>
    <button class="btn btn-primary">see more ...</button>
  </div>
</div>